<!DOCTYPE html>
<html lang="en">
<!-- fragment de bootstrap     -->
<head th:fragment="bootstrap">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<!-- fragment con el link de style     -->
<head th:fragment="style">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:include="::bootstrap"></th:block>
</head>
<!-- fragment con el link de form     -->
<head th:fragment="formulario">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <th:block th:include="::bootstrap"></th:block>
</head>
<body>
<!-- fragment del nav     -->
<nav th:fragment="nav">
    <ul>
        <li><a href="/clientes" th:text="#{cliente.plural}">Clientes</a></li>
        <li><a href="/comerciales" th:text="#{comercial.plural}">comerciales</a></li>
    </ul>
</nav>

<th:block th:fragment="boton(id,action)">
    <button type="button" class="btn btn-danger" th:id="${id}" onclick="mostrarConfirmacion(this)" th:text="#{boton.borrar}">Eliminar</button>
    <div th:id="'confirmacion-'+${id}" class="confirmacion" style="display: none;">
        <div class="confirmacion-contenido">
            <p th:text="#{confirmacion}">Seguro que quieres borrar?</p>
            <button class="btn btn-primary" th:id="${id}" onclick="cerrarConfirmacion(this)" th:text="#{boton.cancelar}">Cancelar</button>
            <form th:action="${action}" method="post" style="display: inline;">
                <input class="btn btn-danger" type="submit" th:value="#{boton.confirmar}" />
            </form>
        </div>
    </div>
</th:block>
</body>
</html>