<!DOCTYPE html SYSTEM "http://www.thymeleaf.orgtdddiv class=col/xhtml1-strict-thymeleaf-4tdddiv class=col">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: style">
    <title th:text="#{cliente.plural}">Clientes</title>
</head>
<body>
<!-- nav    -->
<nav th:insert="fragments/general.html::nav"></nav>
<!-- titulo    -->
<h1 th:text="#{cliente.plural}">Clientes</h1>
<table>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{nombre}">Nombre</th>
        <th th:text="#{apellido1}">Apellido1</th>
        <th th:text="#{apellido2}">Apellido2</th>
        <th th:text="#{ciudad}">Ciudad</th>
        <th th:text="#{categoria}">Categoría</th>
        <th>Email</th>
        <!-- create    -->
        <th>
            <form th:action="@{/clientes/crear}">
                <input class="btn btn-primary" type="submit" th:value="#{boton.crear}">
            </form>
        </th>
    </tr>
    <!-- listAll    -->
    <tr th:each="cliente:${listaClientes}">
        <td th:text="${cliente.id}">0</td>
        <td th:text="${cliente.nombre}">nombre</td>
        <td th:text="${cliente.apellido1}">apellido1</td>
        <td th:text="${cliente.apellido2 ?: '&nbsp;'}">apellido2</td>
        <td th:text="${cliente.ciudad}">ciudad</td>
        <td th:text="${cliente.categoria}">categoría</td>
        <td th:text="${cliente.email}">email</td>
        <!-- actions    -->
        <td>
            <!-- detail    -->
            <form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{boton.detalle}" />
            </form>
            <!-- editar    -->
            <form th:action="@{/clientes/editar/}+${cliente.id}" style="display: inline;">
                <input class="btn btn-warning" type="submit" th:value="#{boton.editar}" />
            </form>
            <!-- borrar    -->
            <th:block th:replace="fragments/general::boton('cliente'+${cliente.id},@{/clientes/borrar/__${cliente.id}__})"></th:block>
        </td>
    </tr>
</table>
<!--table comercial -->
<div th:if="${listaComerciales}">
    <h1 th:text="#{comercial.plural}">Comerciales</h1>
    <table>
        <!-- header table    -->
        <tr>
            <th th:text="#{id}">ID</th>
            <th th:text="#{nombre}">nombre</th>
            <th th:text="#{trimestre}">trimestre</th>
            <th th:text="#{semestre}">semestre</th>
            <th th:text="#{año}">año</th>
            <th th:text="#{lustro}">lustro</th>
        </tr>
        <!-- listAll    -->
        <tr th:each="cdto:${listaComerciales}">
            <td th:text="${cdto.id_comercial}">0</td>
            <td th:text="${cdto.nombre}">nombre</td>
            <td th:text="${cdto.trimestre}">trimestre</td>
            <td th:text="${cdto.semestre}">semestre</td>
            <td th:text="${cdto.año}">año</td>
            <td th:text="${cdto.lustro}">lustro</td>
        </tr>
    </table>
</div>
<script src="/js/borrar.js"></script>
</body>
</html>