<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/ddiv class=col/xhtml1-strict-thymeleaf-4.ddiv class=col">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: style">
    <title th:text="#{cliente.plural}">Clientes</title>
</head>
<body>
<!-- nav    -->
<nav th:insert="fragments/general.html::nav"></nav>
<!-- titulo    -->
<h1 th:text="#{cliente.plural}">Clientes</h1>
<div class="container">
    <div class="row">
        <div class="col-1" th:text="#{id}">ID</div>
        <div class="col-1" th:text="#{nombre}">Nombre</div>
        <div class="col-1" th:text="#{apellido1}">Apellido1</div>
        <div class="col-1" th:text="#{apellido2}">Apellido2</div>
        <div class="col-1" th:text="#{ciudad}">Ciudad</div>
        <div class="col-1" th:text="#{categoria}">Categoría</div>
        <div class="col-2">Email</div>

        <!-- create    -->
        <div class="col-4">
            <form th:action="@{/clientes/crear}">
                <input class="btn btn-primary" type="submit" th:value="#{boton.crear}">
            </form>
        </div>
    </div>
    <!-- listAll    -->
    <div class="row" th:each="cliente:${listaClientes}">
        <div class="col-1" th:text="${cliente.id}">0</div>
        <div class="col-1" th:text="${cliente.nombre}">nombre</div>
        <div class="col-1" th:text="${cliente.apellido1}">apellido1</div>
        <div class="col-1" th:text="${cliente.apellido2 ?: '&nbsp;'}">apellido2</div>
        <div class="col-1" th:text="${cliente.ciudad}">ciudad</div>
        <div class="col-1" th:text="${cliente.categoria}">categoría</div>
        <div class="col-2" th:text="${cliente.email}">email</div>
        <!-- actions    -->
        <div class="col-4">
            <!-- detail    -->
            <form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{boton.detalle}" />
            </form>
            <!-- editar    -->
            <form th:action="@{/clientes/editar/}+${cliente.id}" style="display: inline;">
                <input class="btn btn-warning" type="submit" th:value="#{boton.editar}" />
            </form>
            <!-- borrar    -->
            <!-- boton para mostrar el div a seguida    -->

            <button class="btn btn-danger" type="button" th:id="cliente+${cliente.id}" onclick="mostrarConfirmacion(this)" th:text="#{boton.borrar}">Eliminar</button>
            <!-- venta con mensaje de confirmacion    -->
            <div th:id="confirmacion-cliente+${cliente.id}" class="confirmacion" style="display: none;">
                <div class="confirmacion-contenido">
                    <!-- pregunta    -->
                    <p th:text="#{confirmacion}">Seguro que quieres borrar?</p>
                    <!-- cancelar    -->
                    <button class="btn btn-primary" th:id="cliente+${cliente.id}" onclick="cerrarConfirmacion(this)" th:text="#{boton.cancelar}">Cancelar</button>
                    <!-- formulario con el input para borrar    -->
                    <form th:action="@{/clientes/borrar/__${cliente.id}__}" method="post" style="display: inline;">
                        <input class="btn btn-danger" type="submit" th:value="#{boton.confirmar}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--table comercial -->
<div th:if="${listaComerciales}">
    <h1 th:text="#{comercial.plural}">Comerciales</h1>
    <div class="container" >
        <!-- header table    -->
        <div class="row">
            <div class="col" th:text="#{id}">ID</div>
            <div class="col" th:text="#{trimestre}">trimestre</div>
            <div class="col" th:text="#{semestre}">semestre</div>
            <div class="col" th:text="#{año}">año</div>
            <div class="col" th:text="#{lustro}">lustro</div>
        </div>
        <!-- listAll    -->
        <div class="row" th:each="cdto:${listaComerciales}">
            <div class="col" th:text="${cdto.id_comercial}">0</div>
            <div class="col" th:text="${cdto.trimestre}">nombre</div>
            <div class="col" th:text="${cdto.semestre ?: '&nbsp;'}">apellido2</div>
            <div class="col" th:text="${cdto.año}">ciudad</div>
            <div class="col" th:text="${cdto.lustro}">categoría</div>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>
</body>
</html>