<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: style">
    <title th:text="#{cliente.plural}">Clientes</title>
</head>
<body>
<!-- nav    -->
<nav th:insert="fragments/general.html::nav"></nav>
<!-- titulo    -->
    <h1 th:text="#{cliente.plural}">Clientes</h1>
<!-- CRUD table    -->
    <table>
        <!-- header table    -->
        <tr>
            <th th:text="#{id}">ID</th>
            <th th:text="#{nombre}">Nombre</th>
            <th th:text="#{apellido1}">Apellido1</th>
            <th th:text="#{apellido2}">Apellido2</th>
            <th th:text="#{ciudad}">Ciudad</th>
            <th th:text="#{categoria}">Categoría</th>
            <th>Email</th>

            <!-- create    -->
            <th>
                <form th:action="@{/clientes/crear}">
                    <input type="submit" th:value="#{boton.crear}">
                </form>
            </th>
        </tr>
        <!-- listAll    -->
        <tr th:each="cliente:${listaClientes}">
            <td th:text="${cliente.id}">0</td>
            <td th:text="${cliente.nombre}">nombre</td>
            <td th:text="${cliente.apellido1}">apellido1</td>
            <td th:text="${cliente.apellido2 ?: '&nbsp;'}">apellido2</td>
            <td th:text="${cliente.ciudad}">ciudad</td>
            <td th:text="${cliente.categoria}">categoría</td>
            <td th:text="${cliente.email}">email</td>
            <!-- actions    -->
            <td>
                <!-- detail    -->
                <form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
                    <input type="submit" th:value="#{boton.detalle}" />
                </form>
                <!-- editar    -->
                <form th:action="@{/clientes/editar/}+${cliente.id}" style="display: inline;">
                    <input type="submit" th:value="#{boton.editar}" />
                </form>
                <!-- borrar    -->
                <!-- boton para mostrar el div a seguida    -->
                <button type="button" th:id="cliente+${cliente.id}" onclick="mostrarConfirmacion(this)" th:text="#{boton.borrar}">Eliminar</button>
                <!-- venta con mensaje de confirmacion    -->
                <div th:id="confirmacion-cliente+${cliente.id}" class="confirmacion" style="display: none;">
                    <div class="confirmacion-contenido">
                        <!-- pregunta    -->
                        <p th:text="#{confirmacion}">Seguro que quieres borrar?</p>
                        <!-- cancelar    -->
                        <button th:id="cliente+${cliente.id}" onclick="cerrarConfirmacion(this)" th:text="#{boton.cancelar}">Cancelar</button>
                        <!-- formulario con el input para borrar    -->
                        <form th:action="@{/clientes/borrar/__${cliente.id}__}" method="post" style="display: inline;">
                            <input type="submit" th:value="#{boton.confirmar}" />
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
<script src="/js/script.js"></script>
</body>
</html>