<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: style">
    <title th:text="#{comercial.plural}">Comerciales</title>
</head>
<body>
<!-- nav    -->
<nav th:insert="fragments/general.html :: nav"></nav>
<!-- titulo    -->
<h1 th:text="#{comercial.plural}">Comercial</h1>
<!-- Tabla CRUD igual que cliente pero para comercial-->
<table>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{nombre}">Nombre</th>
        <th th:text="#{apellido1}">Apellido1</th>
        <th th:text="#{apellido2}">Apellido2</th>
        <th th:text="#{comision}">Comisión</th>
        <th>
            <form th:action="@{/comerciales/crear}">
                <input class="btn btn-primary" type="submit" th:value="#{boton.crear}">
            </form>
        </th>
    </tr>
    <tr th:each="comercial:${listaComerciales}">
        <td th:text="${comercial.id}">0</td>
        <td th:text="${comercial.nombre}">nombre</td>
        <td th:text="${comercial.apellido1}">apellido1</td>
        <td th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</td>
        <td th:text="${comercial.comision}">comision</td>
        <td>
            <form th:action="@{/comerciales/__${comercial.id}__}" style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{boton.detalle}" />
            </form>
            <form th:action="@{/comerciales/editar/}+${comercial.id}" style="display: inline;">
                <input class="btn btn-warning" type="submit" th:value="#{boton.editar}" />
            </form>
            <th:block th:replace="fragments/general::boton('comercial'+${comercial.id},@{/comerciales/borrar/__${comercial.id}__})"></th:block>
        </td>
    </tr>
</table>
<!-- Tabla CRUD Pedido para detalle igual que cliente pero para pedido y sin detalle pero con tot y media -->
<div th:if="${listaPedido}">
    <h1 th:text="#{pedido.plural}">Pedidos</h1>
    <table>
        <tr>
            <th th:text="#{id}">ID</th>
            <th th:text="#{total}">Total</th>
            <th th:text="#{fecha}">Fecha</th>
            <th th:text="#{id.cliente}">Id_cliente</th>
            <th th:text="#{id.comercial}">Id_comercial</th>
            <th>
                <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/crear}">
                    <input class="btn btn-primary" type="submit" th:value="#{boton.crear}">
                </form>
            </th>
        </tr>
        <tr th:each="pedido:${listaPedido}" th:class="${listaComerciales.max==pedido.total}?green:(${listaComerciales.min==pedido.total}?yellow:'')">
            <td th:text="${pedido.id}">0</td>
            <td th:text="${pedido.total}">total</td>
            <td th:text="${pedido.fecha}">fecha</td>
            <td th:href="@{/clientes/__${pedido.cliente.id}__}" th:text="${pedido.cliente.nombre}">nombre_cliente</td>
            <td th:text="${pedido.comercial.id}">id_comercial</td>

            <td>
                <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/editar/}+${pedido.id}" style="display: inline;">
                    <input class="btn btn-warning" type="submit" th:value="#{boton.editar}" />
                </form>
                <th:block th:replace="fragments/general::boton('pedido'+${pedido.id},@{/comerciales/__${listaComerciales.id}__/pedidos/borrar/__${pedido.id}__})"></th:block>
            </td>
        </tr>
        <!-- Tot Y Media -->
        <tr>
            <td th:text="'TOT: '+${listaComerciales.tot}">tot</td>
            <td th:text="#{media}+': '+${listaComerciales.media}">media</td>
        </tr>
    </table>
</div>
<div th:if="${listaClientes}">
    <!-- Tabla Cliente para detalle -->
    <h1 th:text="#{cliente.plural}">Clientes</h1>
    <table>
        <tr>
            <th th:text="#{id}">ID</th>
            <th th:text="#{nombre}">Nombre</th>
            <th th:text="#{apellido1}">Apellido1</th>
            <th th:text="#{apellido2}">Apellido2</th>
            <th th:text="#{ciudad}">Ciudad</th>
            <th th:text="#{categoria}">Categoria</th>
            <th> Email</th>
            <th th:text="#{total}">total</th>
        </tr>
        <tr th:each="clienteTotal:${listaClientes}">
            <td th:text="${clienteTotal.getKey().id}">0</td>
            <td th:text="${clienteTotal.getKey().nombre}">nombre</td>
            <td th:text="${clienteTotal.getKey().apellido1}">apellido1</td>
            <td th:text="${clienteTotal.getKey().apellido2 ?: '&nbsp;'}">apellido2</td>
            <td th:text="${clienteTotal.getKey().ciudad}">ciudad</td>
            <td th:text="${clienteTotal.getKey().categoria}">categoría</td>
            <td th:text="${clienteTotal.getKey().email}">email</td>
            <td th:text="${clienteTotal.getValue()}">tot</td>
        </tr>
    </table>
</div>
<script src="/js/borrar.js"></script>
</body>
</html>