<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: style">
    <title>Comerciales</title>
</head>
<body>
<nav th:insert="fragments/general.html :: nav"></nav>
<h1>Comercial</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido1</th>
        <th>Apellido1</th>
        <th>Comisión</th>
        <th>
            <form th:action="@{/comerciales/crear}">
                <input type="submit" value="Crear">
            </form>
        </th>
    </tr>
    <tr th:each="comercial:${listaComerciales}">
        <td th:text="${comercial.id}">0</td>
        <td th:text="${comercial.nombre}">nombre</td>
        <td th:text="${comercial.apellido1}">apellido1</td>
        <td th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</td>
        <td th:text="${comercial.comision}">comision</td>

        <td>
            <form th:action="@{/comerciales/__${comercial.id}__}" style="display: inline;">
                <input type="submit" value="Ver Detalle" />
            </form>
            <form th:action="@{/comerciales/editar/}+${comercial.id}" style="display: inline;">
                <input type="submit" value="Editar" />
            </form>
            <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">
                <input type="submit" value="Eliminar" />
            </form>
        </td>
    </tr>
</table>
<table th:if="${listaPedido}">
    <h1>Pedidos</h1>
    <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Fecha</th>
        <th>Id_cliente</th>
        <th>Id_comercial</th>
        <th>
            <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/crear}">
                <input type="submit" value="Crear">
            </form>
        </th>
    </tr>
    <tr th:each="pedido:${listaPedido.keySet()}">
        <td th:text="${pedido.id}">0</td>
        <td th:text="${pedido.total}">total</td>
        <td th:text="${pedido.fecha}">fecha</td>
        <td><a th:href="@{/clientes/__${pedido.id_cliente}__}" th:text="${listaPedido.get(pedido)}">nombre_cliente</a></td>
        <td th:text="${pedido.id_comercial}">id_comercial</td>

        <td>
            <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/editar/}+${pedido.id}" style="display: inline;">
                <input type="submit" value="Editar" />
            </form>
            <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/borrar/__${pedido.id}__}" method="post" style="display: inline;">
                <input type="submit" value="Eliminar" />
            </form>
        </td>
    </tr>
</table>
</body>
</html>