<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: style">
    <title th:text="#{comercial.plural}">Comerciales</title>
</head>
<body>
<!-- mismo que cliente pero con otra tabla de pedido que se mostrará cuando le ha pasado la lista de pedido que habrá solo cuando mostra los detalles de comercial    -->
<nav th:insert="fragments/general.html :: nav"></nav>
<h1 th:text="#{comercial.plural}">Comercial</h1>
<table>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{nombre}">Nombre</th>
        <th th:text="#{apellido1}">Apellido1</th>
        <th th:text="#{apellido2}">Apellido2</th>
        <th th:text="#{comision}">Comisión</th>
        <th>
            <form th:action="@{/comerciales/crear}">
                <input type="submit" th:value="#{boton.crear}">
            </form>
        </th>
    </tr>
    <tr th:each="comercial:${listaComerciales}">
        <td th:text="${comercial.id}">0</td>
        <td th:text="${comercial.nombre}">nombre</td>
        <td th:text="${comercial.apellido1}">apellido1</td>
        <td th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</td>
        <td th:text="${comercial.comision}">comision</td>

        <td>
            <form th:action="@{/comerciales/__${comercial.id}__}" style="display: inline;">
                <input type="submit" th:value="#{boton.detalle}" />
            </form>
            <form th:action="@{/comerciales/editar/}+${comercial.id}" style="display: inline;">
                <input type="submit" th:value="#{boton.editar}" />
            </form>
            <button type="button" th:id="comercial+${comercial.id}" onclick="mostrarConfirmacion(this)" th:text="#{boton.borrar}">Eliminar</button>
            <div th:id="confirmacion-comercial+${comercial.id}" class="confirmacion" style="display: none;">
                <div class="confirmacion-contenido">
                    <p th:text="#{confirmacion}">Seguro que quieres borrar?</p>
                    <button th:id="comercial+${comercial.id}" onclick="cerrarConfirmacion(this)" th:text="#{boton.cancelar}">Cancelar</button>
                    <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">
                        <input type="submit" th:value="#{boton.confirmar}" />
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
<table th:if="${listaPedido}">
    <h1 th:text="#{pedido.plural}">Pedidos</h1>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{total}">Total</th>
        <th th:text="#{fecha}">Fecha</th>
        <th th:text="#{id.cliente}">Id_cliente</th>
        <th th:text="#{id.comercial}">Id_comercial</th>
        <th>
            <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/crear}">
                <input type="submit" th:value="#{boton.crear}">
            </form>
        </th>
    </tr>
    <tr th:each="pedido:${listaPedido.keySet()}" th:class="${listaComerciales.max==pedido.total}?green:(${listaComerciales.min==pedido.total}?yellow:'')">
        <td th:text="${pedido.id}">0</td>
        <td th:text="${pedido.total}">total</td>
        <td th:text="${pedido.fecha}">fecha</td>
        <td><a th:href="@{/clientes/__${pedido.id_cliente}__}" th:text="${listaPedido.get(pedido)}">nombre_cliente</a></td>
        <td th:text="${pedido.id_comercial}">id_comercial</td>

        <td>
            <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/editar/}+${pedido.id}" style="display: inline;">
                <input type="submit" th:value="#{boton.editar}" />
            </form>
            <button type="button" th:id="pedido+${pedido.id}" onclick="mostrarConfirmacion(this)" th:text="#{boton.borrar}">Eliminar</button>
            <div th:id="confirmacion-pedido+${pedido.id}" class="confirmacion" style="display: none;">
                <div class="confirmacion-contenido">
                    <p th:text="#{confirmacion}">Seguro que quieres borrar?</p>
                    <button th:id="pedido+${pedido.id}" onclick="cerrarConfirmacion(this)" th:text="#{boton.cancelar}">Cancelar</button>
                    <form th:action="@{/comerciales/__${listaComerciales.id}__/pedidos/borrar/__${pedido.id}__}" method="post" style="display: inline;">
                        <input type="submit" th:value="#{boton.confirmar}" />
                    </form>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td th:text="'TOT: '+${listaComerciales.tot}">tot</td>
        <td th:text="#{media}+': '+${listaComerciales.media}">media</td>
    </tr>
</table>

<script src="/js/script.js"></script>
</body>
</html>