<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: form">
    <title>Comercial</title>
</head>
<body>
<h1>Editar Pedido</h1>
<form th:action="@{/comerciales/__${id_comercial}__/pedidos/editar}" th:method="post" th:object="${pedido}">
    <input th:type="hidden" th:field="*{id}" />
    <label>Total*: </label><input th:type="number" step="0.01" th:field="*{total}" />
    <ul th:if="${#fields.hasErrors('total')}">
        <li th:each="err : ${#fields.errors('total')}" th:text="${err}" class="error" />
    </ul>
    <label>Fecha*: </label><input th:type="date" th:field="*{fecha}" />
    <ul th:if="${#fields.hasErrors('fecha')}">
        <li th:each="err : ${#fields.errors('fecha')}" th:text="${err}" class="error" />
    </ul>
    <label>Cliente*: </label>
    <!-- select de cliente    -->
    <select th:field="*{id_cliente}">
        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}+' '+${cliente.apellido1}"></option>
    </select>
    <ul th:if="${#fields.hasErrors('id_cliente')}">
        <li th:each="err : ${#fields.errors('id_cliente')}" th:text="${err}" class="error" />
    </ul>
    <label>Comercial*: </label>
    <!-- select de comercial    -->
    <select th:field="*{id_comercial}">
        <option th:each="comercial : ${comerciales}" th:value="${comercial.id}" th:text="${comercial.nombre}+${comercial.apellido1}"></option>
    </select>
    <ul th:if="${#fields.hasErrors('id_comercial')}">
        <li th:each="err : ${#fields.errors('id_comercial')}" th:text="${err}" class="error" />
    </ul>
    <input type="submit" value="Aceptar">
</form>
<!-- errores    -->
</body>
</html>