<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: form">
    <title th:text="#{cliente}">Cliente</title>
</head>
<body>
<h1 th:text="#{'boton.'+${action}}+' '+#{cliente} ">Title</h1>
<!-- formulario de cliente usado para editar y crear según la accion que llega   -->
<form th:action="@{/clientes/__${action}__}" th:method="post" th:object="${cliente}">
    <input class="form-control" th:type="hidden" th:value="*{id}" th:field="*{id}"/>
    <div class="mb-3">
        <label class="form-label" th:text="#{nombre}+'*'">Nombre*: </label>
        <input class="form-control" th:type="text" th:field="*{nombre}"/>
        <ul th:if="${#fields.hasErrors('nombre')}">
            <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error" />
        </ul>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{apellido1}+'*'">Apellido1*: </label>
        <input class="form-control" th:type="text" th:field="*{apellido1}"/>
        <ul th:if="${#fields.hasErrors('apellido1')}">
            <li th:each="err : ${#fields.errors('apellido1')}" th:text="${err}" class="error" />
        </ul>
    </div>

    <div class="mb-3">
        <label class="form-label" th:text="#{apellido2}">Apellido2: </label>
        <input class="form-control" th:type="text" th:field="*{apellido2}"/>
        <ul th:if="${#fields.hasErrors('apellido2')}">
            <li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}" class="error" />
        </ul>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{apellido2}">Apellido2: </label>
        <input class="form-control" th:type="text" th:field="*{apellido2}"/>
        <ul th:if="${#fields.hasErrors('apellido2')}">
            <li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}" class="error" />
        </ul>
    </div>
    <div class="mb-3">
    <label class="form-label" th:text="#{ciudad}+'*'">Ciudad*: </label>
    <input class="form-control" th:type="text" th:field="*{ciudad}"/>
    <ul th:if="${#fields.hasErrors('ciudad')}">
        <li th:each="err : ${#fields.errors('ciudad')}" th:text="${err}" class="error" />
    </ul>
    </div>
    <div class="mb-3">
    <label class="form-label" th:text="#{categoria}+'*'">Categoría*: </label>
    <input class="form-control" th:type="number" th:field="*{categoria}"/>
    <ul th:if="${#fields.hasErrors('categoria')}">
        <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}" class="error" />
    </ul>
    </div>
    <div class="mb-3">
    <label>Email: </label>
    <input class="form-control" th:type="text" th:field="*{email}"/>
    <ul th:if="${#fields.hasErrors('email')}">
        <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error" />
    </ul>
    </div>
    <input class="btn btn-primary" type="submit" th:value="#{boton.aceptar}">
</form>

</body>
</html>