<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Cliente</title>
</head>
<body>
<h1>Crear Cliente</h1>
<form th:action="@{/clientes/crear}" th:method="post" th:object="${cliente}">
    <label>Nombre: </label><input type="text" th:field="*{nombre}" required/>
    <label>Apellido1: </label><input type="text" th:field="*{apellido1}" required/>
    <label>Apellido2: </label><input type="text" th:field="*{apellido2}" required/>
    <label>ciudad: </label><input type="text" th:field="*{ciudad}" required/>
    <label>Categoría: </label><input type="number" min="0" th:field="*{categoria}" required/>
    <input type="submit" value="Crear">
</form>
</body>
</html>