<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: form">
    <title th:text="#{comercial}">Comercial</title>
</head>
<body>
<h1 th:text="#{'boton.'+${action}}+' '+#{comercial}">Title</h1>
<!-- formulario de comercial usado para editar y crear según la accion que llega   -->
<form th:action="@{/comerciales/__${action}__}" th:method="post" th:object="${comercial}">
    <input th:type="hidden" th:field="*{id}" required/>
    <div class="mb-3">
         <label class="form-label" th:text="#{nombre}+'*'">Nombre*: </label>
        <input class="form-control" th:type="text" th:field="*{nombre}"/>
        <p th:errors="*{nombre}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{apellido1}+'*'">Apellido1*: </label>
        <input class="form-control" th:type="text" th:field="*{apellido1}"/>
        <p th:errors="*{apellido1}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{apellido2}">Apellido2: </label>
        <input class="form-control" th:type="text" th:field="*{apellido2}"/>
        <p th:errors="*{apellido2}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{comision}+'*'">Comision*: </label>
        <input class="form-control" th:type="number" th:step="0.001" th:field="*{comision}" />
        <p th:errors="*{comision}"></p>
    </div>
    <input class="btn btn-primary" type="submit" th:value="#{boton.aceptar}">
</form>
</body>
</html>