<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: formulario">
    <title th:text="#{cliente}">Cliente</title>
</head>
<body>

<h1 th:text="#{'boton.'+${action}}+' '+#{cliente} ">Title</h1>
<!-- formulario de cliente usado para editar y crear según la accion que llega   -->
<form th:action="@{/clientes/__${action}__}" th:method="post" th:object="${cliente}">
    <input class="form-control" th:type="hidden" th:value="*{id}" th:field="*{id}"/>
    <div class="mb-3">
        <label class="form-label" th:text="#{nombre}+'*'">Nombre*: </label>
        <input class="form-control" th:type="text" th:field="*{nombre}"/>
        <p class="alert alert-danger" th:errors="*{nombre}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{apellido1}+'*'">Apellido1*: </label>
        <input class="form-control" th:type="text" th:field="*{apellido1}"/>
        <p class="alert alert-danger" th:errors="*{apellido1}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{apellido2}">Apellido2: </label>
        <input class="form-control" th:type="text" th:field="*{apellido2}"/>
        <p class="alert alert-danger" th:errors="*{apellido2}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{ciudad}+'*'">Ciudad*: </label>
        <input class="form-control" th:type="text" th:field="*{ciudad}"/>
        <p class="alert alert-danger" th:errors="*{ciudad}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{categoria}+'*'">Categoría*: </label>
        <input class="form-control" th:type="number" th:field="*{categoria}"/>
        <p class="alert alert-danger" th:errors="*{categoria}"></p>
    </div>
    <div class="mb-3">
        <label>Email: </label>
        <input class="form-control" th:type="text" th:field="*{email}"/>
        <p class="alert alert-danger" th:errors="*{email}"></p>
    </div>
    <input class="btn btn-primary" type="submit" th:value="#{boton.aceptar}">
</form>
</body>
</html>