<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: form">
    <title>Comercial</title>
</head>
<body>
<h1 th:text="${#strings.capitalize(action)}+' Pedido'" >Title</h1>

<form th:action="@{/comerciales/__${id_comercial}__/pedido/__${action}__}" th:method="post" th:object="${pedido}">
    <input th:type="hidden" th:field="*{id}" required/>
    <label>Nombre*: </label><input th:type="number" step="0.01" th:field="*{total}" required/>
    <label>Apellido1*: </label><input th:type="date" th:field="*{fecha}" required/>
    <label>Apellido2: </label><input th:type="number" th:min="0" th:field="*{id_cliente}"/>
    <label>Categoría*: </label><input th:type="number" th:min="0" th:field="*{id_comercial}" required/>
    <input type="submit" value="Aceptar">
</form>
</body>
</html>